<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BizPage Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="/img/logo.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        .nav-menu li a:hover{
            color:white;
        }
    </style>
</head>

<body>
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                 <h1 style=" display: inline;">
                    <a style="color:white;" href="#intro" class="scrollto"
                      >F<span
                        ><img
                          height="35px;"
                          src="/img/logo.png"
                          alt="Hackathon"
                          title="Hackathon"/></span
                      ><span
                        ><img
                          height="35px;"
                          src="/img/logo.png"
                          alt="Hackathon"
                          title="Hackathon"/></span
                      >d2Fuel</a
                    >
                  </h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#intro">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <%if(locals.user){%>
                    <li><a href="/rest/dashboard">Dashboard</a></li>
                    <% } else {%>
                        <li><a href="#call-to-action">Register</a></li>
                    <%}%>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

                <ol class="carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active">
                        <div class="carousel-background"><img
                                src="/img/Circular economy  the principle pointing us to a greener future.jpg" alt="">
                        </div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Food <i class="fa fa-recycle" ></i> Fuel</h2>
                                <p>There is no such thing as "Away"<br> When we throw anything away it must go somewhere</p>
                                <a href="/rest/register" class="btn-get-started scrollto">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-background"><img src="/img/greener-future.png" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Waste isn't waste until we waste it!!</h2>
                                <p>When you put the whole Picture together, Recycling is the best thing to do...</p>
                                <a href="/rest/register" class="btn-get-started scrollto">Get Started</a>
                            </div>
                        </div>
                    </div>


                </div>

                <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </section>

    <main id="main">

        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>About Us</h3>
                    <p>We offer used cooking oil and grease pickup, recycling and reusing services and we cater to restaurants, cafes and hotels.</p>
                </header>

                <div class="row about-cols">

                    <div class="col-md-4 wow fadeInUp text-center">
                        <div class="about-col">
                            <div class="img">
                                <img src="/img/oilphoto.jpg" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-help"></i></div>
                            </div>
                            <h2 class="title"><a >Problems caused by UCO</a></h2>
                            <p>
                                Environmental Pollution
                                <br>
                                Clogging of drainage systems
                                <br>
                                Chance of blockage of entire pipelines
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="about-col">
                            <div class="img">
                                <img src="/img/about-plan.jpg" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-list-outline"></i></div>
                            </div>
                            <h2 class="title"><a >Our Plan</a></h2>
                            <p>
                                Partnering with a large number of hotels, restaurants, etc. and the government facilities setup to get rid of the problems caused by UCO.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 wow fadeInUp text-center"  data-wow-delay="0.2s">
                        <div class="about-col">
                            <div class="img">
                                <img src="/img/restau.jpg" style="max-height: 200px;" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-person-outline"></i></div>
                            </div>
                            <h2 class="title"><a >Our Customers</a></h2>
                            <p >
                                Restaurants <br> Hotels  <br> Societies <br> Government Agencies
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section id="services">
            <div class="container">

                <header class="section-header wow fadeInUp">
                    <h3>Services</h3>
                    <p>We provide a variety of services to help our customers to our best</p>
                </header>

                <div class="row">

                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                        <h4 class="title"><a href="">Doorstep Pickup</a></h4>
                        <p class="description">You don't have to travel anywhere because we provide door step service</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                        <h4 class="title"><a href="">Recycle</a></h4>

                        <p class="description">We collect the waste from and contribute towards a greener future by giving them to the industries for recycling it.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                        <h4 class="title"><a href="">We Reward You</a></h4>
                        <p class="description">You give us the waste, in return we give you credit points, in replace of which you can get different useful recycled products.</p>
                    </div>
                    
                </div>

            </div>
        </section>

        <% if(!locals.user){ %>
        <section id="call-to-action" class="wow fadeIn">
            <div class="container text-center">
                <h3>Be Our Partners..</h3>
                <p> Take a step to a greener and sustainable future by just clicking on the button below.</p>
                <a class="cta-btn" href="/rest/register">Register</a>
            </div>
        </section>
        <% } %>

        <section id="contact" class="section-bg wow fadeInUp">
            <div class="container">

                <div class="section-header">
                    <h3>Contact Us</h3>
                    <p>Send your queries if any, we'll contact you ASAP</p>
                </div>

                <div class="row contact-info">

                    <div class="col-md-4">
                        <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>Address</h3>
                            <address>DCRUST,Murthal</address>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-phone">
                            <i class="ion-ios-telephone-outline"></i>
                            <h3>Phone Number</h3>
                            <p><a href="tel:+918888888888">+918888888888</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>Email</h3>
                            <p><a href="mailto:foo2fuel@hello.com">foo2fuel@hello.com</a></p>
                        </div>
                    </div>

                </div>

                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required"
                                data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>
        </section>

    </main>

    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h1 style=" display: inline;">
                            <a style="color:white;" href="#intro" class="scrollto"
                              >F<span
                                ><img
                                  height="35px;"
                                  src="/img/logo.png"
                                  alt="Hackathon"
                                  title="Hackathon"/></span>
                                  <span><img height="35px;"
                                  src="/img/logo.png"
                                  alt="Hackathon"
                                  title="Hackathon"/></span>d2Fuel</a>
                          </h1>
                        
                    </div>

                   
                        

                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
   <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/superfish/hoverIntent.js"></script>
    <script src="/lib/superfish/superfish.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="/js/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="/js/main.js"></script>

</body>

</html>