<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
    <title>Your Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <link href="/img/logo.png" rel="icon" />
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" /><link href="/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet" /><link href="/css/style.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/e2eea6562c.js"></script>
    <link href="/open-iconic/font/css/open-iconic.css" rel="stylesheet" />
</head>

<body>
    <header id="header" style="box-shadow: 0px 2px 6px #888;">
        <div class="container-fluid">
    
          <div id="logo" class="pull-left pb-5">
            <h1 style=" display: inline;"><a style="color:white;" href="/" class="scrollto">F<span><img height="35px;" src="img/logo.png" alt="Hackathon" title="Hackathon"/></span><span><img height="35px;" src="img/logo.png" alt="Hackathon" title="Hackathon"/></span>d2Fuel</a></h1>
          </div>
    
          <nav id="nav-menu-container" >
            <ul class="nav-menu">
              <li ><a href="/">Home</a></li>
              <!-- <li><a href="#contact">Contact</a></li> -->
            </ul>
          </nav>
        </div>
      </header>   

      
      <header class="container heading section-header">
        <h3>Welcome Partners!!</h3>
        </header>
    

    <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>Redeem Your Points Now!!!</h3>
            <p>See the credits associated with each Reward, and if you have that much of credits in your wallet then you can easily make it yours!</p>
          </header>
  
          <div class="row about-cols">
  
            <div class="col-md-4 wow fadeInUp">
              <div class="about-col">
                <div class="img">
                  <img src="img/images.jpg" height="100%" width="100%" alt="" class="img-fluid">
                </div>
                <h2 class="title"><a href="#">Household lubricant</a></h2>
                <div class="card-redeem-container">
                    <div class="credits-each-product">
                        <h2>
                            1000pts
                        </h2>
                    </div>
                    <div class="redeem-now-option">
                        <h4>
                            <a href="http://">Redeem Now!!</a>
                        </h4>
                    </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="about-col">
                <div class="img">
                  <img src="img/download.jpg" height="100%" width="100%" alt="" class="img-fluid">
                </div>
                <h2 class="title"><a href="#">Key lock lubricant</a></h2>
                <div class="card-redeem-container">
                    <div class="credits-each-product">
                        <h2>
                            1000pts
                        </h2>
                    </div>
                    <div class="redeem-now-option">
                        <h4>
                            <a href="http://">Redeem Now!!</a>
                        </h4>
                    </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="about-col">
                <div class="img">
                  <img src="img/download (1).jpg" height="100%" width="100%" alt="" class="img-fluid">
                </div>
                <h2 class="title"><a href="#">Lamp oil</a></h2>
                <div class="card-redeem-container">
                    <div class="credits-each-product">
                        <h2>
                            1000pts
                        </h2>
                    </div>
                    <div class="redeem-now-option">
                        <h4>
                            <a href="http://">Redeem Now!!</a>
                        </h4>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                  <div class="img">
                    <img src="img/images (1).jpg" alt="" class="img-fluid">
                  </div>
                  <h2 class="title"><a href="#">Furniture polish and conditioner</a></h2>
                  <div class="card-redeem-container">
                      <div class="credits-each-product">
                          <h2>
                              1000pts
                          </h2>
                      </div>
                      <div class="redeem-now-option">
                          <h4>
                              <a href="http://">Redeem Now!!</a>
                          </h4>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                  <div class="img">
                    <img src="img/about-vision.jpg" alt="" class="img-fluid">
                  </div>
                  <h2 class="title"><a href="#">Leather preservative</a></h2>
                  <div class="card-redeem-container">
                      <div class="credits-each-product">
                          <h2>
                              1000pts
                          </h2>
                      </div>
                      <div class="redeem-now-option">
                          <h4>
                              <a href="http://">Redeem Now!!</a>
                          </h4>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                  <div class="img">
                    <img src="img/about-vision.jpg" alt="" class="img-fluid">
                  </div>
                  <h2 class="title"><a href="#">Rattan and wicker furniture protector</a></h2>
                  <div class="card-redeem-container">
                      <div class="credits-each-product">
                          <h2>
                              1000pts
                          </h2>
                      </div>
                      <div class="redeem-now-option">
                          <h4>
                              <a href="http://">Redeem Now!!</a>
                          </h4>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                  <div class="img">
                    <img src="img/about-vision.jpg" alt="" class="img-fluid">
                  </div>
                  <h2 class="title"><a href="#">Removing paint from your hands</a></h2>
                  <div class="card-redeem-container">
                      <div class="credits-each-product">
                          <h2>
                              1000pts
                          </h2>
                      </div>
                      <div class="redeem-now-option">
                          <h4>
                              <a href="http://">Redeem Now!!</a>
                          </h4>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                  <div class="img">
                    <img src="img/about-vision.jpg" alt="" class="img-fluid">
                  </div>
                  <h2 class="title"><a href="#">Soap making</a></h2>
                  <div class="card-redeem-container">
                      <div class="credits-each-product">
                          <h2>
                              1000pts
                          </h2>
                      </div>
                      <div class="redeem-now-option">
                          <h4>
                              <a href="http://">Redeem Now!!</a>
                          </h4>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                  <div class="img">
                    <img src="img/about-vision.jpg" alt="" class="img-fluid">
                  </div>
                  <h2 class="title"><a href="#">Hair moisturizer</a></h2>
                  <div class="card-redeem-container">
                      <div class="credits-each-product">
                          <h2>
                              1000pts
                          </h2>
                      </div>
                      <div class="redeem-now-option">
                          <h4>
                              <a href="http://">Redeem Now!!</a>
                          </h4>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                  <div class="img">
                    <img src="img/about-vision.jpg" alt="" class="img-fluid">
                  </div>
                  <h2 class="title"><a href="#">Pot and pan protector</a></h2>
                  <div class="card-redeem-container">
                      <div class="credits-each-product">
                          <h2>
                              1000pts
                          </h2>
                      </div>
                      <div class="redeem-now-option">
                          <h4>
                              <a href="http://">Redeem Now!!</a>
                          </h4>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                  <div class="img">
                    <img src="img/about-vision.jpg" alt="" class="img-fluid">
                  </div>
                  <h2 class="title"><a href="#">Pot and pan protector</a></h2>
                  <div class="card-redeem-container">
                      <div class="credits-each-product">
                          <h2>
                              1000pts
                          </h2>
                      </div>
                      <div class="redeem-now-option">
                          <h4>
                              <a href="http://">Redeem Now!!</a>
                          </h4>
                      </div>
                  </div>
                </div>
              </div>
              

  
          </div>
  
        </div>
      </section>
  


    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
