body {
  /* background: linear-gradient(-45deg, #00ff6a, #ffffff, #00ff40) !important; */
  /* background-size: 400% 400% !important; */
  /* animation: gradient 15s ease infinite !important; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mainSection {
  display: flex !important;
}
.leftSection {
  flex: 1 !important;
}
.rightSection {
  flex: 1 !important;
}
input {
  display: block !important;
  width: 99% !important;
  border: none !important;
  background: rgba(233, 232, 232, 0.7) !important;
  height: 40px !important;
  box-shadow: 1px 1px 1px rgba(233, 233, 232, 0.5) !important;
}
.signBlk {
  width: 75% !important;
  margin: 80px auto !important;
  background: white !important;
  box-shadow: 0px 1px 5px rgba(134, 134, 134, 0.8) !important;
}

.loginBlk {
  background: white !important;
  width: 75% !important;
  margin: 80px auto !important;
  box-shadow: 0px 1px 5px rgba(134, 134, 134, 0.8) !important;
}
.subBtn {
  width: 99% !important;
  height: 40px !important;
  background: rgb(3, 221, 3) !important;
  border: none !important;
  border-radius: 0px !important;
  color: white !important;
}
